<div class="container">
    <h1>Congratulations {{ user.name }}!</h1>
    <p>You completed your wish of {{ wish.title }}</p>

    <form method="POST">

      <h3>How was it?</h3>
      <textarea name="experience" id="input-experience" cols="30" rows="5">Tell us how did it go...</textarea>
      
      <h3>How would you rate it?</h3>
      <div>
        <input type="radio" id="input-rating" name="rating" value="1">
        <label for="input-rating">1</label>
      </div>
      <div>
        <input type="radio" id="input-rating" name="rating" value="2">
        <label for="input-rating">2</label>
      </div>
      <div>
        <input type="radio" id="input-rating" name="rating" value="3">
        <label for="input-rating">3</label>
      </div>
      <div>
        <input type="radio" id="input-rating" name="rating" value="4">
        <label for="input-rating">4</label>
      </div>
      <div>
        <input type="radio" id="input-rating" name="rating" value="5">
        <label for="input-rating">5</label>
      </div>

      <button>Submit</button>
      
    </form>
</div>
