<h1>Create your Wish</h1>

<form method="POST">
  <input name="title" placeholder="The title of your wish..."></textarea>
  <textarea name="description" placeholder="The description of your wish..."></textarea>
  <button>Create Post</button>
</form>