<h1>Edit your profile</h1>
<form method="POST">
  <input type="text" name="name" value="{{user.name}}">
  <input type="text" name="email" value="{{user.email}}">
  <button>Save changes</button>
</form>