<h1>Welcome to your wishes!</h1>
<div class="wish-list">
  {{#each wishes}}
    <div class="wish">
      <a href="/wish/{{ _id }}"><h3>{{ title }}</h3></a>
      <p>{{ description }}</p>
      <span>{{ category }}</span>
    </div>
  {{/each}}
</div>
<form action="/wish/create">
  <button>Add your wish</button>
</form>