<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
  <nav class="fixed-top">
    <ul>
    {{#if user}}
    <li><a href="/home">Home</a></li>
    <li><a href="/profile/{{user.id}}">Profile</a></li>
    <li><a href="/explore">Explore</a></li>
    <li><form action="/sign-out" method="POST">
      <button>Sign Out</button>
    </form></li>
    
    {{else}}
    <a href="/sign-in">Sign In</a>
    <a href="/sign-up">Sign Up</a>
    {{/if}} 
    </ul>
    
  </nav>
  {{{body}}}
  <script src="/scripts/script.js"></script>
</body>

</html>