<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Flame Wisher</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="icon" type="image/png" href="/images/fire.png"/>
</head>

<body>
  <nav>
    <ul>
    <li><img class="logo" src="/images/fire.png" alt="logo"></li>
    {{#if user}}
    <li><a href="/home">My wishes</a></li>
    <li><a href="/explore">Explore</a></li>
    <li><a href="/profile/{{user.id}}">Profile</a></li>
    <li><form action="/sign-out" method="POST">
      <button>Sign Out</button>
    </form></li>
    
    {{else}}
    <li><a href="/sign-in">Sign In</a></li>
    <li><a href="/sign-up">Sign Up</a></li>
    {{/if}} 
    </ul>
    
  </nav>
  {{{body}}}
  <footer>
    <p>Made with</p><img class="logo" src="/images/fire.png" alt="logo">
    <p> by <a href="https://github.com/Pedro-Mac" style="color: #fb5607"> Pedro</a> & <a href="https://github.com/j-amarri" style="color: #fb5607">Ale</a></p>
  </footer>
  <script src="/scripts/script.js"></script>
</body>

</html>