/* ----- SINGLE WISH EDIT ------  */
section {
  width: 90%;
  margin: auto;
}

.wish-edit-container {
  img {
    width: 100%;
    border-radius: 0.4rem;
  }

  .form-img {
    button:hover {
      background-color: $primary;
      color: #fff;
    }
  }
}
